

body {
    /* text-align: center; */  /* Zentrierung im Internet Explorer */
    margin: 11px 0 0 0;
	padding: 0;
	background: #ffffff url(images/header.gif) repeat-x;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif, Arial, Helvetica, sans-serif;
	font-size: 11pt;
	text-align: justify;
	color: #666666;
}
  

h1 {
	margin: 0;
	padding: 0;
	color: #000000;
  
    /*margin-top: 0px;
    margin-bottom: 0px;+*/
  
}

#logDialogBox td {
	border-bottom: dashed 1px #e1e1e1;
}


.bankproject-headline {
	font-size: 12pt;
	font-weight: bold;
	color: #777777;
	margin: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: left;
}


.bankproject-simpletext {
	font-size: 100%;
	font-weight: normal;
	padding: 3px;
}

.bankproject-label {
	font-size: 120%;
	font-weight: bold;
	font-style: italic;
	color: gray;
	padding-bottom: 0.5em;
}

.bankproject-textfield {
	font-size: 100%;
	font-weight: normal;
	padding: 3px;
	width: 15em;
}

.bankproject-menubutton {
	font-size: 100%;
	font-weight: bold;
	width: 15em;
	margin-bottom: 1em;
}

.bankproject-button {
	font-size: 100%;
	font-weight: bold;
}

div#TopLevelFrame {
	/* max-width: 600px; */
	/* min-width: 300px; */
	/* background: #FFFF99; */
}

div#Header {
	width: 720px;
	height: 161px;
	margin: 0 auto;
	background:#EAEAEC
}
#header * {
	text-decoration: none;
	text-align: center;
	color: #000000;
}

#header h1 {
	padding-top: 40px;
	font-size: 3em;
}

div#Navigator {
	/* max-height: 300px; */
	/* overflow:scroll; */
	text-align: left;
	padding: 1em 1em;
	/* background: #FFFF99; */
	border-top: 1px dashed #235AFF;
	border-bottom: 1px dashed #235AFF;
	
	
}

div#wrapper {
	/* background-color: lightblue; */
	width: 711px;
}

div#Menu {
	/* background-color: yellow; */
	width: 960px;
	height: 55px;
	margin: 0 auto;
}

div#Details {
	padding: 1em 1em;
	text-align: center;
	font-family: Helvetica;
	font-size: smaller;
	margin-left: 200px;
	width: 500px;
}

div#Trailer {
	height: 70px;
	padding: 15px 0 0 0;
	color: #fff;
	clear: both;
	margin: 0 auto;
	font-size: 80%;
	text-align: center;
	border-top: 1px dashed #235AFF;
	border-bottom: 1px dashed #235AFF;
}

/**
	Ab hier: Alte Deklarationen. K�nnen ggf. gel�scht werden.
*/
.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

#content {
	width: 960px;
	margin: 0 auto;
}

 input:disabled, textarea:disabled {
     color: #C3BFBF;
}

html {
	
    
	
}

