
body {

    /* text-align: center; */  /* Zentrierung im Internet Explorer */
    margin: 11px 0 0 0;
	padding: 0;
	background: #ffffff url(images/header.gif) repeat-x;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif, Arial, Helvetica, sans-serif;
	font-size: 11pt;
	text-align: justify;
	color: #666666;

    /* text-align: center; */  /* Zentrierung im Internet Explorer */
  }
  
html{
	background-color: beige;
}

h1 {
	margin: 0;
	padding: 0;
	color: #000000;
  
    /*margin-top: 0px;
    margin-bottom: 0px;+*/
  	font: 3em Arial;
	letter-spacing: 2px;
	font-weight: lighter;
	text-align: center;
	color: brown;
  	padding: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
  
}
table.fremdProfilAnzeigen td{
	
    border-bottom: 1px ridge lightgreen;
    text-align: left;

}

.flexTable td {
   /* border: 1px solid #BBBBBB; */
   padding: 3px;
}

.flexTable-buttonPanel td {
   border: 0px;
}

.fixedWidthButton {
   width: 150px;
}

#logDialogBox td {
	border-bottom: dashed 1px #e1e1e1;
}

div.CompositeProfilAttributeBox {
	text-align: left;
	margin-bottom: 1em;
}


.bankproject-headline {
	font-size: 12pt;
	font-weight: bold;
	color: #777777;
	margin: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: left;
}


.bankproject-simpletext {
	font-size: 100%;
	font-weight: normal;
	padding: 3px;
}

.bankproject-label {
	font-size: 120%;
	font-weight: bold;
	font-style: italic;
	color: gray;
	padding-bottom: 0.5em;
}

.bankproject-textfield {
	font-size: 100%;
	font-weight: normal;
	padding: 3px;
	width: 15em;
}

.bankproject-menubutton {
	font-size: 100%;
	font-weight: bold;
	width: 15em;
	margin-bottom: 1em;
}

.bankproject-button {
	font-size: 100%;
	font-weight: bold;
}

div#TopLevelFrame {
	/* max-width: 600px; */
	/* min-width: 300px; */
	/* background: #FFFF99; */
	width: auto;
	height: auto;
	background: #FCF6DB;
	}


div#Header { 
	width: 720px;
	height: 161px;
	margin: 0 auto;
	background:#EAEAEC
}

#header * {
	text-decoration: none;
	text-align: center;
	color: #000000;
}

#header h1 {
	padding-top: 40px;
	font-size: 3em;
	background:#FCF6DB;
	background-size: 100%;
}

div#Navigator {
	text-align: left;
	padding: 1em 1em 1em 1em;

	
}

div#wrapper {
	width: auto;
	height: auto;
}

div#Menu {
	/* background-color: yellow; */
	width: 960px;
	height: 55px;
	margin: 0 auto;
	width: 115px;
	width: 140px;
	float:left;
	padding-top: 20px;
	width: 210px;
	height: 540px;
	float: left;
	padding-left:10px;
	margin-left: 5px;
}

div#rechts {
	/*float: right;*/
}


div#Details {
	padding: 1em 1em;
	text-align: center;
	font-family: Helvetica;
	font-size: smaller;
	margin-left: 200px;
	/* background-color: green; */
	margin-left: 120px;
	margin-left: 150px;
	width: 500px;
	margin-left: 19em;
	width: auto;
}

div#Trailer {
	height: 70px;
	padding: 15px 0 0 0;
	color: #fff;
	clear: both;
	margin: 0 auto;
	font-size: 80%;
	padding: 10px 0;
	/* margin: 0 auto; */      /* standardkonforme horizontale Zentrierung */
	/* border-top: 1px dashed silver; */
	font-size: 100%;

	font-size: 80%;

	text-align: center;
	border-top: 1px dashed #235AFF;
	border-bottom: 1px dashed #235AFF;

	/* background: #FFCCCC; */
	border-top: 2px ridge lightgreen;
	/*border-bottom: 1px dashed #235AFF;*/

	background-color: white;
	background-size: 100%;
  	font-weight: bold;


}

button.gwt-Button {
  width: 110px;
  height: 30px;
  float: left;
  font-weight: bold;
  padding: 10px 7px;
  margin-bottom: 5px;
  margin-left: 10px;
  color: brown;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  font-size:small;
  border:none;
  border-radius: 5px;
}


.profil-attribute-listbox {
	width: 15em;
	height: 2em;
	border: 3px inset rgba(212, 115, 72, 0.69); 
    outline:0; 
    
}

.gwt-ListBox{
    background-color: white;	
}

.gwt-Textbox{
	width: 15em;
    height: 2em;
    border: 3px inset rgba(212, 115, 72, 0.69);
    outline: 0;	
}

.prof-attrib-listbox{
	width: 15em;
    height: 2em;
    border: 3px inset rgba(212, 115, 72, 0.69);
    outline: 0;
}

.gwt-HTML {
	font:1em Arial;
    color: black;
    font-weight: normal;
}

input:disabled, textarea:disabled {
    color: brown;
    font-weight: bold;
    
}

.com-google-gwt-user-cellview-client-DataGrid-Style-dataGridHeader {
    border-bottom: 2px solid #6f7277;
    padding: 3px 15px;
    text-align: left;
    color: black;
    overflow: hidden;
    white-space: nowrap;
}








/* Einstellung für die Überschrift, kann hier nicht eingef�gt werden!
 * element.style {
    vertical-align: top;
    font-size: large;
    font-weight: bold;
    font-family: Vivaldi;
}
*/