

body {
    /* text-align: center; */  /* Zentrierung im Internet Explorer */
  }
  
html{
	background-color: beige;
}

h1 {
  	font: 3em Arial;
	letter-spacing: 2px;
	font-weight: lighter;
	text-align: center;
	color: brown;
  	padding: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
  
}
table.fremdProfilAnzeigen td{
	
    border-bottom: 1px ridge lightgreen;
    text-align: left;

}

.flexTable td {
   /* border: 1px solid #BBBBBB; */
   padding: 3px;
}

.flexTable-buttonPanel td {
   border: 0px;
}

.fixedWidthButton {
   width: 150px;
}

#logDialogBox td {
	border-bottom: dashed 1px #e1e1e1;
}

div.CompositeProfilAttributeBox {
	text-align: left;
	margin-bottom: 1em;
}


.bankproject-headline {
	font-size: 12pt;
	font-weight: bold;
	color: #777777;
	margin: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: left;
}

.bankproject-simpletext {
	font-size: 100%;
	font-weight: normal;
	padding: 3px;
}

.bankproject-label {
	font-size: 120%;
	font-weight: bold;
	font-style: italic;
	color: gray;
	padding-bottom: 0.5em;
}

.bankproject-textfield {
	font-size: 100%;
	font-weight: normal;
	padding: 3px;
	width: 15em;
}

.bankproject-menubutton {
	font-size: 100%;
	font-weight: bold;
	width: 15em;
	margin-bottom: 1em;
}

.bankproject-button {
	font-size: 100%;
	font-weight: bold;
}

div#TopLevelFrame {
	/* max-width: 600px; */
	/* min-width: 300px; */
	width: auto;
	height: auto;
	background: #FCF6DB;
	}
 

div#Header {
	background:#FCF6DB;
	background-size: 100%;

}

div#Navigator {
	text-align: left;
	padding: 1em 1em 1em 1em;

	
}

div#wrapper {
	width: auto;
	height: auto;
}

div#Menu {
	width: 210px;
	height: 540px;
	float: left;
	padding-left:10px;
	margin-left: 5px;
}

div#rechts {
	/*float: right;*/
}


div#Details {
	padding: 1em 1em;
	/* background: #FFFF99; */
	text-align: center;
	font-family: Helvetica;
	font-size: smaller;
	/* background-color: green; */
	margin-left: 19em;
	width: auto;
}

div#Trailer {
	clear: both;
	padding: 10px 0;
	/* margin: 0 auto; */      /* standardkonforme horizontale Zentrierung */
	/* border-top: 1px dashed silver; */
	font-size: 80%;
	text-align: center;
	background-color: white;
	background-size: 100%;
  	font-weight: bold;

}

button.gwt-Button {
  width: 110px;
  height: 30px;
  float: left;
  font-weight: bold;
  padding: 10px 7px;
  margin-bottom: 5px;
  margin-left: 10px;
  color: brown;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  font-size:small;
  border:none;
  border-radius: 5px;
}


.profil-attribute-listbox {
	width: 15em;
	height: 2em;
	border: 3px inset rgba(212, 115, 72, 0.69); 
    outline:0; 
    
}

.gwt-ListBox{
    background-color: white;	
}

.gwt-Textbox{
	width: 15em;
    height: 2em;
    border: 3px inset rgba(212, 115, 72, 0.69);
    outline: 0;	
}

.prof-attrib-listbox{
	width: 15em;
    height: 2em;
    border: 3px inset rgba(212, 115, 72, 0.69);
    outline: 0;
}

.gwt-HTML {
	font:1em Arial;
    color: black;
    font-weight: normal;
}

input:disabled, textarea:disabled {
    color: brown;
    font-weight: bold;
    
}

.com-google-gwt-user-cellview-client-DataGrid-Style-dataGridHeader {
    border-bottom: 2px solid #6f7277;
    padding: 3px 15px;
    text-align: left;
    color: black;
    overflow: hidden;
    white-space: nowrap;
}








/* Einstellung für die Überschrift, kann hier nicht eingef�gt werden!
 * element.style {
    vertical-align: top;
    font-size: large;
    font-weight: bold;
    font-family: Vivaldi;
}
*/

/**
	Ab hier: Alte Deklarationen. K�nnen ggf. gel�scht werden.
*/
.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

/**
 * 
 * meine Test
 */

 input:disabled, textarea:disabled {
     color: #C3BFBF;
}

html {
	
}

/**
 * Css styling for report profiles
 */


body {
  background-color: #f0f0f0;
  font-family: Verdana;
}
.container {
  width: 400px;
  margin: 120px auto 120px;
  background-color: #fff;
  padding: 0 20px 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  text-align: center;
}

.avatar-flip {
  border-radius: 100px;
  overflow: hidden;
  height: 150px;
  width: 150px;
  position: relative;
  margin: auto;
  top: -60px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  box-shadow: 0 0 0 13px #f0f0f0;
  -webkit-box-shadow: 0 0 0 13px #f0f0f0;
  -moz-box-shadow: 0 0 0 13px #f0f0f0;
}
.avatar-flip img {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 100px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}
.avatar-flip img:first-child {
  z-index: 0;
}
.avatar-flip img:last-child {
  z-index: 0;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  opacity: 0;
}
h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #333;
}
h4 {
  font-size: 13px;
  color: #00baff;
  letter-spacing: 1px;
  margin-bottom: 25px
}
p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 20px;
  color: #666;
}
